<!DOCTYPE html>
<html>
<head>
	<title>Creative Colorlib SignUp Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="~/css/Login.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Custom Theme files -->
	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper" id="Signup">
		<h1>SignUp</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					<input id="Signup_Username" class="text" type="text" name="Username" placeholder="Username" required="">
					<input id="Signup_Email" class="text email" type="email" name="email" placeholder="Email" required="">
					<input id="Signup_Password" class="text" type="password" name="password" placeholder="Password" required="">
					<input id="Signup_Confirm_Password" class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
					<input id="Signup_btn" type="submit" value="SIGNUP">
				</form>
				<p>Already have an Account? <a href="../Home/Login"> Login Now!</a></p>
			</div>
		</div>
		
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/js/Login.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
  var loginBtn = document.getElementById("Signup_btn");
  loginBtn.addEventListener("click", function(event) {
    event.preventDefault();
				Check_Signup();
  });
});
	</script>
</body>
</html>