<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b0ae5762-f107-4dde-9151-5c537d115bba/resourceGroups/first/providers/Microsoft.Web/sites/ChessOfNam</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chessofnam.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>6ba57851-924d-44e7-983e-8302f0281777</ProjectGuid>
    <PublishUrl>https://chessofnam.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ChessOfNam</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>